.book-cards
  img.book-cards__img(src='${urlImg}' alt='Foto book')
  .book-cards__info
    span.book-cards__authors ${authors}
    span.book-cards__title ${title}
    .book-cards__rating
      .book-cards__average-rating ${averageRating}
      span.book-cards__ratings-count ${ratingsCount}
    span.book-cards__description ${description}
    span.book-cards__price ${price}
    button.button.button--book-cards buy now